*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  border: 1px solid #FFF;
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: double #FFF 1px;
  outline-offset: 1px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0 30px;
  padding: 133px 30px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin-top: 16px;
}

.search-form__label {
  margin-top: 5px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title,
.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  text-align: left;
  
}

.search-form__textfield {
  min-width: 225px;
  min-height: 27px;
  
  border-width: 1px 0;
  border-style: solid;
  border-color: #FFF;
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  text-align: left;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:active {
  outline: solid #FFF 1px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: solid #FFF 1px;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding-top: 5px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;  
  background-color: #FFF;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 1px;
}

.search-form__submit-button {
  min-width: 194px;
  min-height: 34px;
  margin-top: 20px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #FFF;
  text-underline-offset: 1px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: solid #FFF 1px;
  outline-offset: -1px;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 298px;
  overflow-y: auto;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__video-card-title {
  overflow: hidden;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.content__video-card-description-container {
  width: 100%;
  max-width: 200px;
  height: 100%;
  padding: 2px 6px 4px 0;
}

.content__video-card-description {
  padding-top: 6px;
  overflow: hidden;
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  text-align: left;
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  min-width: 399px;
  min-height: 34px;
  margin-bottom: 2px;
}

.preloader {
  position: absolute;
}